<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RTSP_Streaming.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <RTSP_Streaming.My.MySettings>
            <setting name="txtUsernameEdit" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="txtPasswordEdit" serializeAs="String">
                <value>Hik12345</value>
            </setting>
            <setting name="txtIPaddressEdit" serializeAs="String">
                <value>192.168.1.5</value>
            </setting>
            <setting name="txtChannelEdit" serializeAs="String">
                <value>101</value>
            </setting>
        </RTSP_Streaming.My.MySettings>
    </userSettings>
</configuration>